

<div class="side">
    Time Left:
    <div id="timer">{{countDiv}}</div>
 </div> 

 <div class="middle" *ngIf = "questions[questionIndex].question">
    <p>{{questionIndex+1}}.{{questions[questionIndex].question}}</p>
    <div class="option">

    <input type="hidden" name="id" value={{questions[questionIndex].id}} [(ngModel)]= "id">

    <input type="radio" id="option1" name="options" value="1" (click)="save('option1')" [(ngModel)]= "givenAnswer">{{questions[questionIndex].option1}}<br>
    <input type="radio" id="option2" name="options" value="2" (click)="save('option2')" [(ngModel)]= "givenAnswer" >{{questions[questionIndex].option2}}<br>
    <input type="radio" id="option3" name="options" value="3" (click)="save('option3')" [(ngModel)]= "givenAnswer" >{{questions[questionIndex].option3}}<br>
    <input type="radio" id="option4" name="options" value="4" (click)="save('option4')" [(ngModel)]= "givenAnswer">{{questions[questionIndex].option4}}<br>
</div>
  
    <div class="top">
        <button (click)="change(i)" *ngFor="let ques of questions;index as i">{{i+1}}</button>
    </div> 
    <div style="display: inline;">
        <!-- <button class="btn" value="Save" (click)="saveAns()">Save</button> -->
        <button *ngIf="questionIndex < questions.length-1" class="btn" value="next" (click)="nextQues()">Next</button> 
    </div>
    <!-- <div class="topnav"> -->
        <button type="submit" class="btn-sub"(click)="submit()">Submit Test</button>
    <!-- </div>  -->


