.header {
    background-color: darkblue;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .side {
      float: left;
      padding: 2%;
      width: 25%;
      background-color: lavender;
      height: 475px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 25px;
  }
  
  .middle {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: #f1f1f1;
    height: 475px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    position:relative;
  }
  
  .side::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  
  .top button{    
    background-color: rgb(148, 79, 148); 
    color: white; 
    padding: 0.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   margin-right: 1%;
    transition-duration: 0.4s;
    cursor: pointer; 
  }
  .button{    
    background-color: lightblue; 
    color: black; 
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    font-size: 16px;
   margin-right: 1%;
    transition-duration: 0.4s;
    cursor: pointer; 
  }
  
  .btn{
    margin-top:1%;
    display: inline;
    text-align: center;
    display: block;
    margin-left: 25%;
    padding: 1%;
    width: 15%;
    border-radius: 5px 5px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(124, 43, 124), rgb(0, 0, 146));
}

.btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(124, 43, 124), rgb(0, 0, 146));
}
.btn-sub{
  margin-top:1%;
  display: inline;
  text-align: center;
  display: block;
  margin-left: 25%;
  padding: 1%;
  width: 15%;
  border-radius: 5px 5px;
  color: white;
  background-image: linear-gradient(to bottom, rgb(14, 168, 0), rgb(0, 146, 73));
}

.btn-sub:hover{
  cursor: pointer;
  background-image: linear-gradient(to top, rgb(124, 43, 124), rgb(0, 0, 146));
}
  
  .submit {
    float:right;
  }
  
  .button:hover {
    background-color: steelblue;
    color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    font: normal bold 16px/normal ;   
  }
  
  article {
    width: 300px;
    text-align: center;
    background-color: #68b04d;
    border-radius: 10px;
    margin: 50px auto 20px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #ccc;
  }
  
  #timer{
    padding: 20px;
    color: crimson;
    background-color: aliceblue;
    border-radius: 2px;
    text-align: center;
  }
  .top{
    text-align: center;
  
  }