<div class="header">
    <b>Hackathon</b>
</div>
<button (click)="change(i)" *ngFor="let ques of questions;index as i">{{i+1}}</button>
  <!-- <div *ngFor="let ques of questions;index as i">
    <P>{{questions[i].id}}</P>
    <p>{{questions[i].question}}</p>
        <input type="radio" id="option1" name="ans" value="{{questions[i].option1}}">{{questions[i].option1}}
        <input type="radio" id="option2" name="ans"  value="{{questions[i].option2}}">{{questions[i].option2}}
        <input type="radio" id="option3" name="ans"  value="{{questions[i].option3}}">{{questions[i].option3}}
        <input type="radio" id="option4" name="ans"  value="{{questions[i].option4}}">{{questions[i].option4}}
        <button type="button" (click)="save()">Save</button>
</div>   -->


<!--<div class="middle">
    <input type="text" value="question" name="question" [(ngModule)]="questions.question">
    <button *ngFor="let question of questions"></button>
    <p>{{question.question}}</p>
</div>-->

<!--<button class="button" value="java" (click)="selection()">Start Test</button> -->
<div class="topnav">
    <button type="submit" class="button submit"(click)="submit()">Submit Test</button>
</div> 
<!--<div class="side">
    Time Left:
    <div id="timer">{{countDiv}}</div>
 </div> -->

 <div class="middle" *ngIf = "questions[questionIndex].question">
    <p>{{questionIndex+1}}.{{questions[questionIndex].question}}</p>
    <div class="option">

    <input type="hidden" name="id" value={{questions[questionIndex].id}} [(ngModel)]= "id">

    <input type="radio" id="option1" name="options" value="1" (click)="save('option1')" [(ngModel)]= "givenAnswer">{{questions[questionIndex].option1}}<br>
    <input type="radio" id="option2" name="options" value="2" (click)="save('option2')" [(ngModel)]= "givenAnswer" >{{questions[questionIndex].option2}}<br>
    <input type="radio" id="option3" name="options" value="3" (click)="save('option3')" [(ngModel)]= "givenAnswer" >{{questions[questionIndex].option3}}<br>
    <input type="radio" id="option4" name="options" value="4" (click)="save('option4')" [(ngModel)]= "givenAnswer">{{questions[questionIndex].option4}}<br>
</div>
   <!-- <button class="button" value="prev">Previous</button>
    <button class="button" value="next">Next</button>-->
     <!--<button class="button" value="first" *ngIf="config.allowBack" (click)= >First</button>-->
     <!-- <button class="button" value="last" *ngIf="config.allowBack" (click)= >Last</button>-->
      <!-- <button class="button" value="review">review</button> to see ehich questionuser has answered-->
    <!-- <button *ngIf="questionIndex!=0" class="button" value="prev" (click)="prevQues()">Previous</button> -->
    <button class="button" value="Save" (click)="saveAns()">Save</button>
    
    <!-- <button (click)="save(options.value)">Save</button> -->
    <!-- <button *ngIf="questionIndex < questions.length-1" class="button" value="next" (click)="nextQues()">Next</button> -->
<!--</div> -->

<footer>
    <p>@Hackathon.inc</p>
</footer>

