<h3>Remove Questions</h3>
<form (ngSubmit) = "fetch()">

    <div class = "form">
        <table>
    
            <th>Question ID</th>
            <th>Question </th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Marks</th>
            <th>Correct Answer</th>
            <th>Status</th>
        <tr *ngFor = "let s of subject">
            <td >
                <input type ="checkbox"   (change) = "checkboxClick(s)">
            </td>
            <td>{{ s.id }}</td>

            <td>{{ s.question }}</td>
    
            <td>{{ s.option1 }}</td>
    
            <td>{{ s.option2 }}</td>
    
            <td>{{ s.option3 }}</td>
    
            <td>{{ s.option4 }}</td>
    
            <td>{{ s.marks }}</td>
    
            <td>{{ s.correctAnswer }}</td>
            
            <td *ngIf = "s.status==true">Active</td>
            <td *ngIf = "s.status==false">Inactive</td>
        

        </tr>
        </table>
    </div>
    
</form>
<button  class="btn" (click) = "delete()">Delete</button>
<button  class="btn" (click) = "add()">Add</button>
