.header{
    padding: 7%;
    text-align: center;
    background-image: url("../assets/bg.jpg");
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    font-size: 80px;
}

.footer {
    background-color:black;
    width: 100%;
    padding: 1%;
    text-align: center;
    color: white;
  }