
    <form (ngSubmit) = "login()">
        <label>User name :</label>
            <input type = "email" name="username" [(ngModel)]="username"/><br/>
        <label>Password :</label>
            <input type = "password" name="pass" [(ngModel)]="pass"/><br/>
        <button type="submit">Login</button>
        <div id= container *ngIf="decision">login {{decision}}
        </div>
    </form>
    <p>Don't have an Account
    <a href="http://localhost:4200/register">Register Here</a>
    </p>
      
   

