<h2>Welcome {{username}}</h2>
<h1><p>Select Exam</p></h1>
<button  (click)=java($event.target)><h1>Java</h1></button><br/>
<button  (click)=sql($event.target)><h1>SQL</h1></button><br/>
<button  (click)=php($event.target)><h1>PHP</h1></button><br/>
<button  (click)=net() type="submit"><h1>C#/.Net</h1></button><br/>
<button  (click)=clang() type="submit"><h1>C/C++</h1></button><br/>
<button  (click)=pylang() type="submit"><h1>Python</h1></button><br/>
<button  (click)=testHistory()><h1>View<br />Progress</h1></button>
