.maindiv{
    text-align: center;
    border:5px solid rgb(100, 89, 89);
}
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
      width: 250px;
      height: 50px;
      background-color: green;
      color:black;
  }

  .btn{
    margin-top: 1%;
    text-align: center;
    display: block;
    margin-left: 45%;
    padding: 1%;
    width: 15%;
    border-radius: 5px 5px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(124, 43, 124), rgb(0, 0, 146));
}

.btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(124, 43, 124), rgb(0, 0, 146));
}